<h1>List of Recipes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Ingredients</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @recipes.each do |recipe| %>
    <tr>
      <td><em><%= recipe.name %></em></td>
      <td></td>
      <td><%= link_to 'Show', recipe %></td>
      <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
      <td><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>

    <% recipe.ingredients.each do |ingredient| %>
      <tr>
        <td></td>
        <td><%= ingredient.name %></td>
      </tr>
    <% end %>

  <% end %>
</table>

<br />

<%= link_to 'New Recipe', new_recipe_path %>
